<div class="bg-gray-100">
  <div class="min-h-screen flex flex-col">
    <!-- Navbar -->
    <nav class="bg-white shadow-md p-4">
      <div class="container mx-auto flex justify-between items-center">
        <div class="text-lg font-semibold">Dashboard</div>
      </div>
    </nav>
    <!-- Main Content -->
    <div class="flex flex-1">
      <!-- Sidebar -->
      <aside class="w-64 bg-white shadow-md p-4">
        <ul>
          <li class="mb-2">
            <a class="block p-2 bg-blue-500 text-white rounded-md" (click)="navigateTo('/')">Home</a>
          </li>
          <li class="mb-2">
            <a class="block p-2 bg-gray-200 rounded-md" (click)="navigateTo('/add')">ADD Product</a>
          </li>
          <li class="mb-2">
            <a class="block p-2 bg-gray-200 rounded-md" (click)="navigateTo('/edit')">Edit Product</a>
          </li>
          <li class="mb-2">
            <a class="block p-2 bg-gray-200 rounded-md" (click)="navigateTo('/register')">Register</a>
          </li>
        </ul>
      </aside>
      <main class="flex-1 p-4">
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>