<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Description</td>
            <td>Acction</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products; index as i">
            <td>{{i + 1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
            <td>
                <button (click)="onEdit(p.id!)">Sửa</button>
                <button (click)="onRemove(p.id!)">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>